section.contact {

  max-width: 680px;
  margin-left: 24rem;
  padding-left: 30px;
  padding-right: 30px;
  transform: translateY(104px);
  font-size: 18px;


  a {
    text-decoration: none;
    color: black;
  }
}
