// footer styling
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  position: absolute;
  color: black;
  margin-top: 88px;
  padding-top: 16px;
  padding-bottom: 24px;
  bottom: 0;
  width: 100%;
  height: 1.5rem;            /* Footer height */
}
//
