section.press {

  max-width: 680px;
  margin-left: 24rem;
  padding-left: 30px;
  padding-right: 30px;
  transform: translateY(104px);

  p {
    margin-bottom: 16px;
  }

  a {
    text-decoration: none;
    color: black;
  }
}
