section.timesink {

  display: flex;
flex-direction: column;
justify-content: center;
  max-width: 680px;
  margin-left: 24rem;
  padding-left: 30px;
  padding-right: 30px;
  transform: translateY(104px);

  font-size: 21px;

  a {

    text-decoration: none;
    color: black;
  }
}
