<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Aaron Zomback, filmmaker</title>
    <meta name="description" content="a site designed and coded by Aaron Zomback>
    <meta name="keywords" content="Filmmaking, AaronZomback, photography, writing">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>

      <div class="video-container">
          <video autoplay loop muted width="100%">
              <source src="/assets/img/OriginalTrailer.mp4" type="video/mp4" />
          </video>
      </div>

      <button type="button" class="button">
    <p>AARON ZOMBACK - FILMMAKER</p>
      </button>



<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="scripts.js" charset="utf-8"></script>

</body>



</html>
