<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Aaron Zomback, filmmaker</title>
    <meta name="viewport" content="width=device-width, initial-scale = 1">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>

    <header>
      <img src="/assets/img/aaronzomback.svg" alt="Aaron Zomback">
    </header>

    <div class="sidenav">
      <button class="dropdown-btn">films
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="films-container">
        <a href="sb.html">Sovereign Blue (2018)</a>
        <a href="exmet.html">Expanded Metal (2016)</a>
        <a href="#">side projects</a>
      </div>
    <a href="#photography">photography</a>
    <a href="#blog">blog</a>
    <a href="#info">info</a>
    <a href="#info">press</a>
    <a href="#contact">contact</a>
  </div>

  <div class="rat">
      <img src="/assets/img/rat.svg" alt="rat">
  </div>


  <footer>
  <img src="img/2020.svg" alt="copyright 2020">
  </footer>

</body>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="script.js" charset="utf-8"></script>

</html>
