
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Aaron Zomback, filmmaker</title>
    <link rel="shortcut icon" sizes="196x196" href="/assets/img/rat.svg">
    <meta name="description" content="built and designed by Aaron Zomback">
    <meta name="keywords" content="Filmmaking, Aaron_Zomback, Zomback, photography, writing">
    <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=1.0, shrink-to-fit=no">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Aaron Zomback">
    <meta name="twitter:image" content="https://github.com/aaronzomback/zomback.com/blob/master/assets/img/timesinkpresents.gif">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>


  <body>
    <div id="page-container">
      <div id="content-wrap">
        <div>

          <div class="main-flex">

            {% include header.html %}
            
            <main>
              <div class="fill">
                
                
                {{content}}
              </div>
            </div>
      </div>
    </main>


    {% include footer.html %}


  </div>
</div>

  <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="scripts.js" charset="utf-8"></script> -->

  <script> document.getElementById('myvideo').play();  </script>
</body>
</html>
